.project-card {
  margin: 42px 6px 0px 6px;
  /* max-width: 500px; */
}
.card {
  padding: 0px 12px;
  min-width: 350px;
  min-height: 280px;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.6);
  opacity: 0;
}
@media (min-width: 1024px) {
  .card {
    /* max-width: 420px; */
    min-height: 320px;
  }
}
@media (min-width: 1540px) {
  .card {
    max-width: 500px;
    min-height: 340px;
  }
}

.card img {
  height: 100%;
  width: 100%;
}

/* .card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #2ec4b6;
  color: #222831;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card-content {
  transform: rotateX(0deg);
} */

/* .card-title {
  margin: 0;
  padding-left: 5px;
  font-size: 24px;
  color: var(--white);
  font-weight: 700;
}

.card-description {
  margin: 10px 0 0;
  text-align: left;
  font-size: 14px;
  color: #eeeeee;
  line-height: 1.4;
} */

.upper-div,
.lower-div {
  padding: 0px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upper-div h1 {
  padding-top: 16px;
  padding-bottom: 5px;
  color: #222831;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.01rem;
}
.lower-div {
  padding-top: 10px;
}
.lower-div span {
  /* padding: 3px 12px; */
  font-size: 20px;
  font-weight: 500;
  /* border: 1px solid #222831; */
  /* border-radius: 28px; */
}
/* .lower-div a {
  cursor: pointer;
  color: grey;
}
.lower-div:hover .view {
  transform: scale(1.2);
  transition: all 0.2s ease-in;
  color: #222831;
} */

/* New Card Styling */
.project-card1 {
  min-width: 200px;
  margin: 42px 6px 0px 6px;
}
.project-img-container {
  min-height: fit-content;
  border: 2px solid transparent;
  border-radius: 25px;
  overflow: hidden;
}
.project-img-container img {
  transform: scale(1.01);
  transition: all ease-in 0.2s;
}
.project-img-container:hover img{
 transform: scale(1.06); 
}
.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-title h1 {
  padding: 18px 0px 12px 4px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.08rem;
}
.project-title h4,
.project-detailed-container h4 {
  padding: 0px 4px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.project-detailed-container {
  text-align: start;
}
