.project-container {
  width: 100%;
  margin: 42px 0px;
  padding: 32px 4px;
  text-align: center;
  color: #222831;
}

.project-container h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}

.project-container h3 {
  color: grey;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* button animation */
.project-btn {
  margin-top: 44px;
  height: 60px;
  width: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid grey;
  overflow: hidden;
  border-radius: 30px;
  color: #222831;
}

.project-btn-span {
  z-index: 1;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #2ec4b6;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.project-btn:hover {
  color: #eeeeee;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

/* .project-btn {
  height: 60px;
  width: 200px;
  margin-top: 44px;
  position: relative;
  display: inline-block;
  background: transparent;
  color: #222831;
  border: 1px solid grey;
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 #2ec4b6;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.project-btn-span {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.project-btn:hover {
  color: #eeeeee;
  border: none;
  box-shadow: inset 500px 0 0 0 #2ec4b6;
} */
