.project-card{
  margin: 42px 4px 0px 4px;

}
.card {
  /* margin-top: 42px; */
  position: relative;
  min-width: 370px;
  min-height: 240px;
  background-color: transparent;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media (min-width: 1024px) {
  .card{
    max-width: 390px;
    max-height: 260px;
  }
}
@media (min-width: 1540px) {
  .card{
    max-width: 420px;
    max-height: 280px;
  }
}

.card img {
  height: 100%;
  width: 100%;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #2ec4b6;
  color: #222831;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card-content {
  transform: rotateX(0deg);
}

.card-title {
  margin: 0;
  padding-left: 5px;
  font-size: 24px;
  color: var(--white);
  font-weight: 700;
}

.card-description {
  margin: 10px 0 0;
  text-align: left;
  font-size: 14px;
  color: #eeeeee;
  line-height: 1.4;
}

h1.projects-heading {
  padding-top: 16px;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: -0.01rem;
  color: #222831;
}

h2.view-duration {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: grey;
  font-size: 15px;
  font-weight: 500;
  /* text-transform: capitalize; */
}

span.view-btn:hover {
  color: #222831;
  cursor: pointer;
}


