.big-heading {
  width: 100%;
  margin-top: 64px;
  padding: 0px 24px;
}
.heading-containt {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 74px;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #222831;
  color: #222831;
  letter-spacing: -0.2rem;
  overflow: hidden;
  line-height: 70%;
}

.heading-containt span:hover {
  -webkit-text-stroke-color: #2ec4b6;
  color: #2ec4b6;
}

.span-two {
  color: #2ec4b6;
  -webkit-text-stroke-color: #2ec4b6;
}

@media (min-width: 1024px) {
  .heading-containt {
    -webkit-text-stroke-width: 10px;
    line-height: 75%;
  }
}

/* footer styling */
.footer-container {
  width: 100%;
  padding: 32px 28px;
  background: #222831;
  color: #eeeeee;
}
.footer-heading {
  font-size: 52px;
  line-height: 80%;
}

.footer-buttons {
  margin: 24px 0px;
}

.footer-socialMedia ul {
  display: flex;
  justify-content: space-evenly;
}
.footer-socialMedia ul li {
  color: #808080;
  font-size: 28px;
  transition: all 0.6s ease-out;
}
.footer-socialMedia ul li:hover {
  color: #eeeeee;
  cursor: pointer;
}

.footer-second-div {
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: grey;
  font-size: 16px;
  font-weight: 600;
}

/*button animation testing */
.contact-btn-2,
.contact-btn-1 {
  height: 60px;
  width: 100%;
  margin: 18px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: grey;
  border: 1px solid grey;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
}
.contact-btn-span-2,
.contact-btn-span-1 {
  z-index: 1;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05rem;
}
.contact-type1::after,
.contact-type2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  /* transform: translate(-50%, -50%); */
  transition: all 0.5s ease-in-out;
  background-color: #2ec4b6;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.contact-btn-1:hover,
.contact-btn-2:hover {
  color: #eeeeee;
}

.contact-type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}
.contact-type2:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}
