.skills-container {
  width: 100%;
  padding-bottom: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-container h2 {
  margin-bottom: 64px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  color: #222831;
}
.skills-div {
  width: fit-content;
  display: grid;
  justify-items: center;
  align-content: center;
  column-gap: 2rem;
  row-gap: 4rem;
}
.div-styling {
  height: 200px;
  width: 290px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.div-styling h4 {
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.icon-style {
  margin: 18px;
  font-size: 34px;
}
